.image-container {
  background-image: url("IMG2.jpg"); /* The image used - important! */
  background-size: cover;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 600px; /* Some height */
}

.text {
  background-color:#2a93c9;
  color: black;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 25%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 30%; /* Position text in the middle */
  left: 25%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
 font-size:40px;
  transform: translate(-50%, -50%);
 
}
* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container-11 {
  padding: 64px;
}

.row-11:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}

.button-11 {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}

/* Three columns side by side */
.columnt {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .columnt {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.cardt {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

/* Some left and right padding inside the container */
.containert {
  padding: 0 16px;
}

/* Clear floats */
.containert::after, .rowt::after {
  content: "";
  clear: both;
  display: table;
}

.titlet {
  color: grey;
}

.buttont {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.buttont:hover {
  background-color: #555;
}

hr.new1 {
  border: 2px solid ;
  border-radius: 5px;
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }


.columna {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.rowa:after {
  content: "";
  display: table;
  clear: both;
}

/* background-color: #717171; */
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}