.teamV{
float:left;
    width:20%;
    padding-bottom:20px;
    padding: 0 8px;
     
   
}
     

.member{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4)
        }
.box{
     padding:20px;
    }
 
.memname{
       color:blue;
}
 .sansserif {
  font-family: Impact, Charcoal, sans-serif;
  font-size:30px;
}

.serif {
  font-family: "Times New Roman", Times, serif;
  font-size:16px;
}


.column {
  float:left;
  width:33.33%;
}
.row{
padding:10px;
margin:0px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input elements and the submit button */
input[type=text] {
  width: 60%;
  padding: 12px;
  margin: 8px 0;
  margin-left:40px;
  
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit]
{
width: 20%;
  padding: 12px;
  margin: 8px 0;
  
  border: 1px solid #ccc;
  box-sizing: border-box;
background-color:#4CAF50;
  color: white;
  border: none;
}





input[type=submit]:hover {
  opacity: 0.8;
}
