.bodyColor{
  background-color:  #f0f9ff;
}
/* Header */
.carousel img{
  height: 100vh;
  width: 100%;
}
.medlab{
    position: absolute;
    z-index: 1;
    width: 100%;
}
@media only screen and (min-width:768px){
.medlab{
  height: 100vh;
}
}
@media only screen and (max-width: 767px) {
.carousel img{
    height: 25vh;
}
.madlab{
  height: 50vh;
}
.carouselDiv{
  position: relative; 
  top: 80px;
  margin: 0px auto;
  width: 90%;
  border: 5px solid #2295bc;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.8);
}
}
.navBar{
  position: absolute;
  z-index: 2;
  top: 25%;
  background-color: #2295bc;
}
.navShort{
  width: 90%;
  margin-left: 5%;
  margin-right:5%;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.8);
}
.navScreenSize{
  background-color:#2295bc ;
}

.nav-link{
 margin-right: 25px;
 transition-delay:2s ;
}
#medlabLogo{
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 5%;
}
#medlabPhone{
  position: absolute;
  z-index: 2;
  top: 8%; 
  right: 30%;
}
#medlabPhoneNo{
  position: absolute;
  z-index: 2;
  top: 8%;
  right: 20%;
}
.toggleLogo{
  margin-left: 450px;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
.backImg img{
  width: 100%;
  height: 70vh;
}


/* burgerMenu */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 20px;
  margin:14px 12px 14px 12px 
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  border-radius: 10px;
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #2a93c9 ;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* small screen nav */
.burgerNav{
  width: 100%;
  height: 50px;
  position: fixed;
  background-color:#2a93c9 ;
}
.hamBurLogo{
  position: absolute;
  top: 0px;
  left:45%;
  margin:5px 0px ;
  display: inline-block;  
}
.actBtn{
  position: absolute;
  top: 0px;
  right:10px;
  width:50px;
  height: 50px;
}
.actBox{
  
  margin: 20px;
}

/* what Makes US Different Section */
.whatMakes{
  height:100px;
  width: 100px;
  background-color: #f5f6fa;
  border-radius: 50px;
  text-align: center;
  margin: 5px;
  line-height: 120px;
  border: 2px solid silver;
}
.fa-stethoscope{
  color:#0097e6 
} 
.fa-medkit{
  color:brown 
} 
.fa-heartbeat{
  color:red
} 

/* Packages */
/* COMBO-PACKAGES */

.formDiv{
  border: 5px solid #2295bc;
  border-radius: 2px;
  width: 300px;
  height: 40vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.8);
}

/* LIFECYCLE */
.lifeCylce{
  margin: 20px 0px;
}
.cardStyling img{ 
 border-radius: 5px;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.2);
}
.cardStyling :hover {
  transition: all 0.4s linear;
  transform: scale(1.1);
  border:1px solid #2a93c9;
}
.packages{
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.2);
}
.packagesBody{
  line-height: 1em;
}
@media only screen and (max-width: 767px) {
.outerPackages{
 margin:10px 12%;
}
}
/* footer */
.footer{
  background-color:#2a93c9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.line{
  width: 70%;
  height: 1px;
  background-color: white;
  margin-bottom:15px ;
}
.socialMediaIcons i{
 height:40px;
 width: 40px;
 background-color: #f5f6fa;
 border-radius: 20px;
 text-align: center;
 margin: 5px;
 line-height: 40px;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 15px 0 rgba(0,0,0,0.4);
}

.socialMediaIcons a i{
  transition: all 0.3s linear;
}

.socialMediaIcons a:hover i{
  transform: scale(1.3);
}

.fa-facebook{
  color:#3b5998  ;
}
.fa-linkedin{
  color:#0097e6 ;
}
.fa-twitter{
  color:#0097e6 ;
}
.fa-instagram{
  color: #e84393;
}
.fa-map-marker{
  color: #c4302b;
}

.properPadding{
  padding-top: 150px;
}