.bodyStyle{
  background-color:  #f0f9ff;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}
html {
  overflow-y: scroll;
}
/* Header */
.carousel{
  position: relative;
}
.carouselDiv{
    position:relative;
    width:1200px;
    /* height:660px; */
    top:0px;
    margin:0 auto;
}
.carousel img{
  /* height:660px; */
  width: 100%;
}
/* @media only screen and (max-width:767px){
  .backImg img{
    height:75vh;
  }
} 
@media only screen and (min-width:768px){
  .backImg img{
    height:100vh ;
  }
}  */

.medlab{
    position: absolute;
    z-index: 1;
    width: 100%;
}
@media only screen and (max-width: 1289px){
.medlab{
  height: 100vh;
}
.carousel img,.carouselDiv{
  height: 80vh;
}
.appointDiv{
  height:80vh
}
.backImg img{
  height:80vh ;
}
}
@media only screen and (min-width:1290px) {
.appointDiv{
  height:660px
}
.carousel img,.carouselDiv{
    height:660px;
}
.madlab{
  height: 50vh;
}
.backImg img{
  height:660px ;
}
}

.backImg img{
  width: 100%;
}
.backImg{
  transform:scaleX(-1);
 }
.navBar{
  top:200px;
  margin: 0 auto;
  background-color: #2295bc;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.8);
}
.navScreenSize{
  background-color:#2295bc ;
}
.topNavLogo img{
  position: absolute;
  top:8%;
  left:42%;
}
.nav-link{
 margin-right: 25px;
 transition-delay:2s ;
}
.homeLogo img{
  width: 230px;
  height: 100px;
  position: relative;
}
.medlabPhone i,.medlabMap i{
  position: absolute;
  z-index: 2;
  top: 10%; 
  right: 30%;
  color: white;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #2a93c9 ;
  border-radius: 30px;
  text-align: center;
}
.medlabPhone{
  position: absolute;
  right:550px;
  top:100px
}
.medlabPhoneNo{
  position: absolute;
  right: 410px;
  top:120px
}
.medlabMap{
  position: absolute;
  right: 260px;
  top:100px
}
.medlabAdd{
  position: absolute;
  right: 100px;
  top:120px
}
.toggleLogo{
  margin-left: 450px;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
@media only screen and (min-width: 768px) {
  .Appoint{
    bottom:50px;
    left:100px;
  }
}
@media only screen and (max-width: 1289px) {
  .appointDiv{
  position:absolute;
  top:0;
  /* height:75vh; */
  width:100%;
  /* background-color: red; */
  margin:auto
  }
  .appointExt{
    position:relative;
    top:50%;
    left:50%;
    color:white;
    transform: translate(-50%,-50%); 
    text-align: center;
    font-size: calc(1rem + 1vw);
  } 
} 
.Appoint{
  position:absolute;
  color:white;
  /* top:50%;
  left:50%; */
}
.Appointext h1{
  font-size: calc(1rem + 1vw);
}
.homeLogo{
  position: absolute;
  left: 100px;
  top: 85px;
}
/* burgerMenu */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  transform: scale(1.05);
}
.bm-item{
  transition: all 0.3s linear;
}
/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 20px;
  margin:14px 12px 14px 12px 
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  border-radius: 10px;
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/* small screen nav */
.burgerNav{
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 4;
  background-color:#2a93c9 ;
}
/* .hamBurLogo{
  position: absolute;
  top: 0px;
  left:45%;
  margin:5px 0px ;
  display: inline-block;  
} */
.actBtn{
  position: absolute;
  top: 0px;
  right:10px;
  width:50px;
  height: 50px;
}

.actBox{
  margin: 20px;
}
.hamInStyle img{
  width: 300px;
  height: 200px;
  position: absolute;
  top:0px;
  left: 0px;
}
.hamInStyle a{
  color:#2a93c9;
}
/* what Makes US Different Section */
.whatMakes{
  height:100px;
  width: 100px;
  background-color: #f5f6fa;
  border-radius: 50px;
  text-align: center;
  margin: 5px;
  line-height: 120px;
  border: 2px solid silver;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.8);
}
.fa-stethoscope{
  color:#0097e6 
} 
.fa-medkit{
  color:brown 
} 
.fa-heartbeat{
  color:red
} 

/* Report form*/
.inputStyle{
  background-color:#fffff000;
  height:50px;
  border-color: white;
  border-width: 2px;
  
}
.btnInput{
  background-color: white;
  color: black;
  border-radius: 30px;
  border-color:white;
  padding: 10px 30px;
}
.formImg img{
 position: relative;
 width:100%;
 height:500px;
}
.formPosition{
  position: relative;;
  top:12%;
  left: 8%;
  height: auto;
  /* background-color: red; */
  /* width:50%; */
}
/* .formPosition{
  font-size: 2px;
}
.formPosition small{
  font-size: calc(5px + 1vw);
} */
/* HealthReport */

.healthCareDiv,.reportDiv,.lifeCycleDiv{
    position: relative;
    width:100%;
    height: auto;
    /* background-color: red; */
  }

.reportDiv{
  height: 75vh;
} 
/* @media only screen and (max-width: 767px) {
  .healthCareDiv{
    height: 420px;
  }
}
@media only screen and (min-width: 768px) {
  .healthCareDiv{
    height: 600px;
  }
} */
.reportDiv img{
  position:absolute;
  top: 10%;
  width: 100%;
  height:80%;
}
.reportDiv .formPosition{
  position: absolute;
  top: 25%;
  left: 2%;
}
.threeD{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.2);
}
.formDiv{
  border: 5px solid #2295bc;
  border-radius: 2px;
  width: 300px;
  height: 40vh;
}

/* Packages */
/* Health-PACKAGES */
.tag {
	display: inline-block;
  width: auto;
	height: 38px;
	background-color: #2a93c9;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	border-left: 1px solid #2a93c9;
	color: white;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	line-height: 38px;

  padding: 0 10px 0 10px;
  /* transform: rotate(90deg); */
  
}
/* Makes the triangle */
.tag:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #2a93c9;
}

/* Makes the circle */
.tag:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}
/* */
.healthCareImg{
  filter: grayscale(80%);
}
.healthCareButton{
  position: absolute;
  bottom:15px;
  right:15px;
 }
/* LIFECYCLE */
.lifeCylce{
  margin: 20px 0px;
}
.cardStyling img{ 
 border-radius: 5px;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.2);
}
.cardStyling :hover {
  transition: all 0.4s linear;
  transform: scale(1.1);
  border:1px solid #2a93c9;
}
.packages{
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.2);
}
.packagesBody{
  line-height: 1em;
}
@media only screen and (max-width: 767px) {
.outerPackages{
 margin:10px 12%;
}}
/* About */
.aboutImg img{
  border-radius: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.2);
}
@media only screen and (max-width: 427px) {
  .aboutImg img{
    width:100%;
    margin:0 auto; 
  }
  .aboutRoundImg img{
    width:100% ;
  }
}
@media only screen and (min-width: 428px) {
  .aboutImg img{
    width:450px;
  }
  .aboutRoundImg img{
    width:500px ;
  }
}
/* footer */
.footer{
  background-color:#2a93c9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.socialMediaIcons i{
 height:40px;
 width: 40px;
 background-color: #f5f6fa;
 border-radius: 20px;
 text-align: center;
 margin: 5px;
 line-height: 40px;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 15px 0 rgba(0,0,0,0.4);
}
.socialMediaIcons a i{
  transition: all 0.3s linear;
}
.socialMediaIcons a:hover i{
  transform: scale(1.3);
}
.fa-facebook{
  color:#3b5998  ;
}
.fa-linkedin{
  color:#0097e6 ;
}
.fa-twitter{
  color:#0097e6 ;
}
.fa-instagram{
  color: #e84393;
}
.fa-map-marker{
  color: #c4302b;
}

@media only screen and (max-width: 420px) {
  .Margin{
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1289px) {
  .properPadding{
    padding-top: 50px;
  }
}

.aboutButton {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
}

