.bodyStyle{
  background-color:  #f0f9ff;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Header */
.carousel img{
  height: 100vh;
  width: 100%;
}
.medlab{
    position: absolute;
    z-index: 1;
    width: 100%;
}
@media only screen and (min-width:768px){
.medlab{
  height: 100vh;
}
}
@media only screen and (max-width: 767px) {
.carousel img{
    height: 25vh;
}
.madlab{
  height: 50vh;
}
.carouselDiv{
  position: relative; 
  top: 80px;
  margin: 0px auto;
  width: 90%;
  /* border: 5px solid #2295bc;
  border-radius: 2px; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.8);
}
}
.navBar{
  position: absolute;
  z-index: 2;
  top: 25%;
  background-color: #2295bc;
}
.navShort{
  width: 90%;
  margin-left: 5%;
  margin-right:5%;
  border-radius: 4px;
}
.navScreenSize{
  background-color:#2295bc ;
}

.nav-link{
 margin-right: 25px;
 transition-delay:2s ;
}
.homeLogo{
  width: 220px;
  height: 100px;
  position: relative;
}
.medlabPhone i{
  position: absolute;
  z-index: 2;
  top: 10%; 
  right: 30%;
  color: white;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #2a93c9 ;
  border-radius: 30px;
  text-align: center;
}
#medlabPhoneNo{
  position: absolute;
  z-index: 2;
  top: 13%;
  right: 19%;
}
.toggleLogo{
  margin-left: 450px;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
.backImg img{
  width: 100%;
  height: 70vh;
}


/* burgerMenu */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  transform: scale(1.05);
}
.bm-item{
  transition: all 0.3s linear;
}
/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 20px;
  margin:14px 12px 14px 12px 
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  border-radius: 10px;
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/* small screen nav */
.burgerNav{
  width: 100%;
  height: 50px;
  position: fixed;
  background-color:#2a93c9 ;
}
/* .hamBurLogo{
  position: absolute;
  top: 0px;
  left:45%;
  margin:5px 0px ;
  display: inline-block;  
} */
.actBtn{
  position: absolute;
  top: 0px;
  right:10px;
  width:50px;
  height: 50px;
}
.actBox{
  
  margin: 20px;
}
.hamInStyle img{
  width: 300px;
  height: 200px;
  position: absolute;
  top:0px;
  left: 0px;
}
.hamInStyle a{
  color:#2a93c9;
}
/* what Makes US Different Section */
.whatMakes{
  height:100px;
  width: 100px;
  background-color: #f5f6fa;
  border-radius: 50px;
  text-align: center;
  margin: 5px;
  line-height: 120px;
  border: 2px solid silver;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.8);
}
.fa-stethoscope{
  color:#0097e6 
} 
.fa-medkit{
  color:brown 
} 
.fa-heartbeat{
  color:red
} 

/* Report form*/
.inputStyle{
  background-color:#fffff000;
  height:50px;
  border-color: white;
  border-width: 2px;
  
}
.btnInput{
  background-color: white;
  color: black;
  border-radius: 30px;
  border-color:white;
  padding: 10px 30px;
}
.formImg{
 width:100%;
 height:70vh;
}
.formPosition{
  position:absolute;
  top:12%;
  left: 8%;
  /* width:50%; */
}
/* Report Form */
.threeD{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.2);
}
.formDiv{
  border: 5px solid #2295bc;
  border-radius: 2px;
  width: 300px;
  height: 40vh;
}
@media only screen and (max-width: 320px) {
  .formImg{
    height:60vh
  }
 }
@media only screen and (min-width: 360px) {
 .formImg{
   height:50vh
 }
}
@media only screen and (min-width: 375px) {
  .formImg{
    height:45vh
  }
 }
@media only screen and (min-width: 411px) {
  .formImg{
    height:40vh
  }
}
@media only screen and (min-width: 414px) {
  .formImg{
    height: 45vh;
  }
}
@media only screen and (min-width: 768px) {
  .formImg{
    height: 40vh;
  }
}
@media only screen and (min-width: 1024px) {
  .formImg{
    height: 30vh;
  }
}
@media only screen and (min-width: 1025px) {
  .formImg{
    height: 70vh;
  }
}
/* Packages */
/* Health-PACKAGES */
.tag {
	display: inline-block;
  
  width: auto;
	height: 38px;
	
	background-color: #2a93c9;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	
	border-left: 1px solid #2a93c9;

	/* This makes room for the triangle */
	/* margin-left: 25px; */
	
	/* position: absolute;; */
  /* top:0px;
  left: 150px; */
	color: white;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	line-height: 38px;

  padding: 0 10px 0 10px;
  transform: rotate(90deg);
  
}
/* Makes the triangle */
.tag:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #2a93c9;
}

/* Makes the circle */
.tag:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}
.healthCare{
 position: absolute;
 top:25px;
 left:-50px;
}
.healthCareImg{
  filter: grayscale(80%);
  height: 350px;
}
.healthCareButton{
  position: absolute;
  bottom:15px;
  right:15px;
 }

/* LIFECYCLE */
.lifeCylce{
  margin: 20px 0px;
}
.cardStyling img{ 
 border-radius: 5px;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.2);
}
.cardStyling :hover {
  transition: all 0.4s linear;
  transform: scale(1.1);
  border:1px solid #2a93c9;
}
.packages{
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.2);
}
.packagesBody{
  line-height: 1em;
}
@media only screen and (max-width: 767px) {
.outerPackages{
 margin:10px 12%;
}}
/* About */
@media only screen and (max-width: 427px) {
  .aboutImg img{
    width:100%;
    margin:0 auto; 
  }
  .aboutRoundImg img{
    width:100% ;
  }
}
@media only screen and (min-width: 428px) {
  .aboutImg img{
    width:335px;
  }
  .aboutRoundImg img{
    width:500px ;
  }
}
/* footer */
.footer{
  background-color:#2a93c9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.socialMediaIcons i{
 height:40px;
 width: 40px;
 background-color: #f5f6fa;
 border-radius: 20px;
 text-align: center;
 margin: 5px;
 line-height: 40px;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 15px 0 rgba(0,0,0,0.4);
}
.socialMediaIcons a i{
  transition: all 0.3s linear;
}
.socialMediaIcons a:hover i{
  transform: scale(1.3);
}
.fa-facebook{
  color:#3b5998  ;
}
.fa-linkedin{
  color:#0097e6 ;
}
.fa-twitter{
  color:#0097e6 ;
}
.fa-instagram{
  color: #e84393;
}
.fa-map-marker{
  color: #c4302b;
}

@media only screen and (max-width: 420px) {
  .properPadding{
    padding-top: 50px;
  }
  .Margin{
    margin-top: 20px;
  }
}
@media only screen and (min-width: 421px) {
  .properPadding{
    padding-top: 100px;
  }
}